# @format

{
    'singleQuote': true,
    'tabWidth': 4,
    'printWidth': 80,
    'endOfLine': 'crlf',
    'bracketSpacing': true,
    'semi': true,
    'bracketSameLine': true,
    'trailingComma': 'none',
    'insertPragma': true
}
